body
{
	background-color: pink;
}
h2{
	text-align-last: center;
	color:black;
	font-size:30px;
	font-weight:bold ;
}
hr{
	align:center;
}
p{
	font-size: 40px;
	color: black;
}
table{
    align : center;
 }

body{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
button{
	text-align-last: center;
}
